header{
  height: $HEADER_HEIGHT;
  background: $MAIN_COLOR;
  #logo{
    display: inline-flex;
    height: 50px;
    a{
      height:40px;
      align-self: center;
      #logo-img{
        height:40px;
      }
      &:hover{
        opacity:0.85;
      }
    }
    #slogan{
      font-size: 20px;
      margin-left:20px;
      align-self: center;
    }
  }
}