header{
  height: $HEADER_HEIGHT;
  background: $MAIN_COLOR;
  #logo{
    display: inline-flex;
    height: 50px;
    #logo-img{
      width: 40px;
      height:40px;
      align-self: center;
    }
    #logo-text{
      font-size: 24.2px;
      padding-left:5px;
      align-self: center;
    }
    #slogan{
      font-size: 20px;
      margin-left:20px;
      align-self: center;
    }
  }
}