@media (min-width: 0px) {
  .project, .card{
    width: 100%;
  }
  header, #logo{
    height: $HEADER_HEIGHT+50px !important;
  }
}

@media (min-width: 660px) {
  header, #logo{
    height: $HEADER_HEIGHT !important;
  }
}